[*.cs]

# CA1810: Initialize reference type static fields inline
dotnet_diagnostic.CA1810.severity = silent

# S3963: "static" fields should be initialized inline
dotnet_diagnostic.S3963.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent
